<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
  <div class="content">
    <h2><strong>Main Question:</strong> <br>
      Is Cognitive Fatigue Quantifiable in Wikispeedia, and What Role Does It Play in Gameplay?
    </h2>
    
    <div id="para-intro">
      <p>
        Recent studies show that our attention spans are shrinking, and our brains can become fatigued within minutes of focused activity 
        <a href="https://doi.org/10.1111/psyp.12339" target="_blank">(1)</a>. 
        This project aims to investigate user engagement with the  
        <b>Wikispeedia game from a neuroscientific angle</b>, focusing on how article complexity impacts cognitive load and behavior. Key questions include:
  
          <ul style="margin-left: 40px;">
            <li>How does the complexity of articles affect user engagement?</li>
            <li>Does the structure and layout (e.g., headings, multimedia) influence time spent, back-clicks, or path abandonment?</li>
            <li>Are there biological biases that influence the gameplay?</li>
          </ul>

      </p>

    The dataset used in the analysis can be found in <a href="https://snap.stanford.edu/data/wikispeedia.html" target="_blank">here</a> and includes the paths of approximately 75,000 games, 
    along with ancillary information such as the game’s rating and the number of backlinks. 
    Additionally, each path could either be completed or unfinished, depending on whether the user completes the mission. 
    This distinction is particularly important, as unfinished paths will be used as proxies for mental fatigue. 

      <button class="button big wide smooth-scroll-middle" onclick="on('overlay_wikispeedia')">Know More About Wikispeedia</button>
      <div style="margin-bottom: 20px;">      
        <button class="button big wide smooth-scroll-middle" onclick="on('overlay_wikispeedia')">Know More About Wikispeedia</button>
      </div>

    </div>    

    <div> 
      <p><strong>To shed light on this intricate question</strong>, 
        we will delve into a discussion between the diligent student Pepito and his mentor, Mr. Cajal. 
        <strong>Pepito</strong> is a young neuroscience student with big dreams and... questionable study habits. 
        Last week, he faced an unexpected academic crisis—not in the lab, 
        but in a game called Wikispeedia. The result? <strong>Pepito got lost</strong>. 
        A lot. Like, "How did I end up reading about Cabbage Moths?" lost. 
        Embarrassed but determined, Pepito boldly blamed the game, not himself. 
        <strong>"It’s not me—it’s cognitive overload! This game would exhaust even the sharpest minds."
        </strong> But Pepito's mentor, the legendary <strong>Dr. Ramón y Cajal</strong>, wasn’t buying it.
        Known for spotting an excuse from a mile away, Dr. Cajal challenged Pepito to prove his claims with data. 
        What followed was a heated back-and-forth between Pepito and Dr. Cajal. 
        Could Pepito’s data reveal the game’s inherent challenge, or would Dr. Cajal’s <strong>“study harder” mantra</strong> prevail?
      </p>

    </div>
  </div>

</section>

<!-- Overlay -->

<div id="overlay_wikispeedia" onclick="off('overlay_wikispeedia')">
  <div class="overlay-content">

    <h1>Wikispeedia</h1>
    <p>
      Wikispeedia is a human-computation game in which users are asked to navigate from a given source to a given target article by only clicking Wikipedia links.
    </p>
    <p>
      The game is playable at the following <a href="https://dlab.epfl.ch/wikispeedia/play/" target="_blank">link</a>, while the dataset, comprising human navigation paths on Wikipedia along with some other metrics, is available <a href="https://snap.stanford.edu/data/wikispeedia.html" target="_blank">here</a>.
    </p>
    <p>
      Lastly, for a detailed analysis of the dataset, please refer to the following <a href="https://github.com/epfl-ada/ada-2024-project-theadacuates/blob/main/src/notebooks/1_EDA.ipynb" target="_blank">notebook</a>.
    </p>

    Example of gameplay for path form Rome to Paris:
    <video width="640" height="360" autoplay loop muted>
      <source src="images/rome_paris.mp4" type="video/mp4">
      <p>Your browser does not support HTML video. You can <a href="example-video.mp4">download the video here</a>.</p>
    </video>

  </div>
</div>





























<script>
  $("#para-intro-detail").hide();

  $("#btn-intro").click(function () {
    
          if ($("#para-intro").hasClass("hidden")) {
            // if intro hidden
              $("#para-intro").removeClass("hidden");
              $("#para-intro").show();
              $("#para-intro-detail").addClass("hidden");
              $("#para-intro-detail").hide();
              $("#btn-intro").text("Hide");
          } else {
              $("#para-intro").addClass("hidden");
              $("#para-intro").hide();
              $("#para-intro-detail").removeClass("hidden");
              $("#para-intro-detail").show();
              $("#btn-intro").text("Show");
          }
      })
</script>