<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
  <div class="content">

    <h2><strong>Main Question:</strong> <br>
      Is Cognitive Fatigue Quantifiable in Wikispeedia, and does it Impact the Gameplay?
    </h2>
    
    <p>
      Recent studies show that our attention spans are shrinking, and our brains can become fatigued within minutes of focused activity 
      (<a href="https://doi.org/10.1111/psyp.12339" target="_blank">Ref</a>). 
      This project aims to investigate user engagement with the  
      <b>Wikispeedia game from a neuroscientific angle</b>, focusing on how article complexity impacts cognitive load and behavior. Key questions include:
        <ul style="margin-left: 40px;">
          <li>How does network structure influence player navigation?</li>
          <li>What role do article content, layout and complexity play in path completion?</li>
          <li>Are there biological biases that influence the gameplay?</li>
        </ul>
    </p>

    <p>
      The <b>dataset</b> used in this analysis can be found 
      <a href="https://snap.stanford.edu/data/wikispeedia.html" target="_blank">here</a>. It contains the paths from approximately <b>75,000 games</b>, 
      along with additional information such as the game’s rating and the number of back-clicks. 
      The primary focus of the dataset is the <b>paths, i.e. sequences of articles</b> that users followed to navigate from the source to the target link.
    </p>
    <p>Before proceeding with the data analysis, it is important to clarify some aspects and <b>hypotheses on which the analysis is based</b>:</p>
      <ul style="margin-left: 40px;">
          <li>
              The division between <b>finished and unfinished paths will be used as a proxy for mental fatigue</b>, hypothesizing that unfinished paths occur due to some brain bias.
          </li>
          <li>
              The <b>motivation of the player</b>, given that Wikipedia is a non-lucrative game, will be <b>assumed to be the same for all participants</b>. 
              Therefore, motivation will not be considered a confounding factor in the analysis. 
              (<a href="https://www.frontiersin.org/journals/human-neuroscience/articles/10.3389/fnhum.2017.00145/full" target="_blank">See more on how to measure motivation neuroscientifically</a>).
          </li>
          <li>
              Each path has an associated <b>IP address</b>. However, due to the intrinsic nature of IP addresses 
              (<a href="https://www.avast.com/c-ip-address-public-vs-private" target="_blank">Ref</a>), it is <b>not possible to link each address to a unique individual</b>. 
              Consequently, no evolution of player behavior is studied. Instead, each path is <b>assumed to be an independent sample</b>, 
              i.e., played by a different person, for statistical analysis.
          </li>
      </ul>

    <div style="margin-bottom: 20px; margin-top: 20px; text-align: center;">
      <button data-overlay-id="wikispeedia" class="button big wide smooth-scroll-middle">Know More About Wikispeedia</button>
    </div>

    <h3>Meet Our Characters:</h3>
    <div> 
        <strong>Pepito</strong> is a young neuroscience student with big dreams and... 
        <strong>questionable study habits</strong>. 
        Last week, he faced an unexpected academic crisis—not in the lab, 
        but in a game called Wikispeedia. The result? <strong>Pepito got lost</strong>. 
        A lot. Like, "How did I end up reading about Cabbage Moths?" lost. <br>
        Embarrassed but determined, Pepito boldly blamed the game, not himself. 
        <strong>"It’s not me—it’s cognitive overload! This game would exhaust even the sharpest minds."<br>
        </strong> But Pepito's mentor, the legendary <strong>Dr. Ramón y Cajal</strong>, wasn’t buying it.
        Known for spotting an excuse from a mile away, Dr. Cajal challenged Pepito to prove his claims with data. <br>
        What follows is a heated back-and-forth between Pepito and Dr. Cajal. 
        Could Pepito’s data reveal the game’s inherent challenge, or would Dr. Cajal’s <strong>“study harder” mantra</strong> prevail?
      </p>

    </div>
  </div>

</section>

<!-- Overlay -->



<div data-overlay-id="wikispeedia" class="overlay hidden">
  <div class="modal">
    <div class="modal-content">
      <div>

        <h1>Wikispeedia</h1>
        <p>
          Wikispeedia is a human-computation game in which users are asked to navigate from a given source to a given target article by only clicking Wikipedia links.
        </p>
        <p>
          The game is playable at the following <a href="https://dlab.epfl.ch/wikispeedia/play/" target="_blank">link</a>, while the dataset, comprising human navigation paths on Wikipedia along with some other metrics, is available <a href="https://snap.stanford.edu/data/wikispeedia.html" target="_blank">here</a>.
        </p>
        <p>
          Lastly, for a detailed analysis of the dataset, please refer to the following <a href="https://github.com/epfl-ada/ada-2024-project-theadacuates/blob/main/src/notebooks/1_EDA.ipynb" target="_blank">notebook</a>.
        </p>
    
        Example of gameplay for path from Rome to Paris:
        <video width="540" height="360" autoplay loop muted>
          <source src="images/rome_paris.mp4" type="video/mp4">
          <p>Your browser does not support HTML video. You can <a href="example-video.mp4">download the video here</a>.</p>
        </video>

      </div>
    </div>
  </div>
</div>

























<script>
  $("#para-intro-detail").hide();

  $("#btn-intro").click(function () {
    
          if ($("#para-intro").hasClass("hidden")) {
            // if intro hidden
              $("#para-intro").removeClass("hidden");
              $("#para-intro").show();
              $("#para-intro-detail").addClass("hidden");
              $("#para-intro-detail").hide();
              $("#btn-intro").text("Hide");
          } else {
              $("#para-intro").addClass("hidden");
              $("#para-intro").hide();
              $("#para-intro-detail").removeClass("hidden");
              $("#para-intro-detail").show();
              $("#btn-intro").text("Show");
          }
      })
</script>