<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in"
  id="first">
  <div class="content">
    <h2>Pepito's Incipit: Humans are inefficient, but how much?</h2>
    <p>The stage is set for Pepito to make his case. Determined, he dives into his opening argument: the innefficiency of human navigation.</p>

      <p>Humans, Pepito argues, are far from optimal when it comes to finding their way through Wikispeedia's web of connections. Pepito presents an interesting comparison: the average path length chosen by Humans
        versus the shortest path calculated by the Breadth-First-Search algorithm.</p>
    </p>
    <ul class="actions stacked">
    </ul>
  </div>
  <div class="image">
    <img src="images/spotlight01.jpg" alt="Image related to bfs">
  </div>  
</section>

<section class="wrapper style1 align-center">
  <div class="inner">
    <div class="content">
      <p>
        <span class="image left"><img src="images/pepito.jpg" alt="Image of Pepito" /></span>
        I begin my defense by arguing that humans are far from finding the optimal solution in a game of WikiSpeedia. 
        Our brains, I believe, are inherently susceptible to cognitive biases that shape and influence our decision-making. 
        To support my thesis, I point out that the <strong>average path length found by humans between the target and source 
        nodes in the network is much longer compared to the shortest path that can be determined using algorithms 
        like Breadth-First Search (BFS)</strong> . This inefficiency, in my view, reflects the limitations of human 
        cognition—an inherent aspect of how our brains process information, which often leads us to make <strong>suboptimal choices.</strong> 
      </p>
    </div>
    <img src="images/humanvbfs.png" alt="Correlation Matrix Entropy"
      style="width: 800px; height: auto; display: block; margin: 20px auto;">
    <div class="content">
      <p>
        <strong>The overall median difference of human played games from optimal path length is 3!</strong>
        This means that in general, human paths are 3 steps longer than the optimal, indicating a 
        measurabe inefficiency in human navigation within Wikispeedia. Looking at the overall 
       <strong>median human path length of 5.5</strong>, against the median optimal path length, we could even 
        say that human paths are nearly <strong>double</strong> the optimal path length!
      </p>
    </div>
    <br>
    <br>
    <br>
    <div class="content">
      <p>
        <span class="image left"><img src="images/cajal_face.png" alt="Image of Pepito" /></span>
        Your observation is valid, Pepito, but there are some important points to consider. 
        First, algorithms like BFS can search the entire network 
        and determine the optimal path, <strong>humans do not have access to the full structure of the network</strong> . This limitation places 
        humans at a significant <strong>disadvantage</strong> , as we are constrained by <strong>incomplete</strong>  information during decision-making. Second, 
        consider that Wikispeedia network has 4,592 nodes and 119,882 edges and is sparsely connected, navigating through this 
        network is <strong>inherently challenging!</strong>  Given these structural constraints, a 3 step deviation from the optimal path is actually 
        quite <strong>small and impressive</strong><a href="http://infolab.stanford.edu/~west1/pubs/West-Pineau-Precup_IJCAI-09.pdf" target="_blank">(Ref)</a> ... in contrast to your performance, Pepito.
      </p>
    </div>
</section>