<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
  <div class="content">
    <h2>Dr. Cajal Clarifies Pepito's Concern: Connectivity analysis</h2>
    <p>
      Pepito's response leaves Dr.Cajal pensive but not defeated. The idea of players 
      intentionally seeking chaotic, high-entropy paths is intriguing... <b>something doesn’t fit right.</b>
      Shaking his head, he turns the conversation to a new angle: <b>connectivity!</b>
    </p>
  </div>
  <div class="image">
    <img src="images/spotlight01.jpg" alt="Image related to entropy">
</div>
</section>
</section>
<section class="wrapper style1 align-center">
  <div class="inner">
    <div class="content">
      <p>
        <span class="image right"><img src="images/cajal_face.png" alt="Image of Dr. Cajal" /></span>
      I think players aren’t navigating randomly or chaotically but are actually following a clever gaming strategy.
      I’ll show you that, in reality, they’re <b>actively seeking high-connectivity hubs</b> to efficiently reach their
      target article.
      <b>This isn’t aimless clicking—it’s strategic thinking, Pepito!</b> Let us look at how entropy is correlated to various measurements of connectivity:
      </p>
    </div>
    <br>
    <div style="align-items: center; float: left; margin-top: 2em; margin-bottom: 2em;">
      <img src="images/correlationCC.png" alt="structure elements"
          style="width: 100%; height: auto; margin: 5px;" />
    </div>
    <br>
    <br>
  <section class="wrapper style1 align-center">
    <div>
      <div class="content">
        <!-- <span class="image left"><img src="images/cajal_face.png" alt="Image of Dr. Cajal" /></span> -->
        <p>As you can see, <b>entropy is positively correlated with all connectivity indices</b>, indicating that, in this case,
          <b>entropy should not be interpreted as a proxy for indecision</b>.
          Instead, it works as an <b>indirect measure of the connectivity</b> of the articles that players are navigating.

          In simple terms, an article with high entropy doesn't necessarily indicate that players are taking various
          different links from it (which would show high uncertainty in their choices).
          Instead, it just means that some articles naturally have more outgoing links than others, which <b>inflates the
          entropy value.</b>

          Additionally, the <b>highest correlation is found with closeness centrality</b>, which makes perfect sense, as players
          tend to select articles that are <b>highly connected</b>, helping them move efficiently
          from any starting article to the intended target.
          <br>
          After closeness centrality, <b>out-degree and degree centrality</b> have the highest correlation to entropy.
          Nodes with higher outgoing connections tend to have higher entropy. These three metrics and their high correlation to entropy suggest that <b>nodes with high entropy are generally
            central and well-connected in the graph.</b>
          <br>
          <!-- Outgoing connections influence entropy more
          than incoming connections,
          because entropy could be related to a node's ability to link "out" to many other nodes, providing more options. -->
        </p>      
      </div>
    </div>
    <div style="margin-bottom: 20px; margin-top: 20px; text-align: center;">
    </div>
  </section>
    <div>
      <div style="margin-bottom: 20px; margin-top: 20px; text-align: center;">
        <button data-overlay-id="cc" class="button big wide smooth-scroll-middle">About Closeness Centrality</button>
        <button data-overlay-id="dc" class="button big wide smooth-scroll-middle">About Degree Centrality</button>
      </div>
      <p>Let's see if players try to find these nodes during their game...</p>
    </div>
    <img src="images/ccEvolution.png" alt="Evolution of Closeness Centrality"
      style="width: 800px; height: auto; display: block; margin: 20px auto;">
    <div class="content">
      <p>
        Here you can see, Pepito, that players tend to <b>seek high-connectivity nodes early in their paths!</b> The graph
        clearly shows how <b>closeness
          centrality spikes at the beginning</b>, indicating that players prioritize <b>well-connected articles right from the
          start.</b> This initial strategy
        helps them quickly move toward their target, rather than wandering aimlessly. <b>It’s proof that their choices
          are strategic, not chaotic!</b>
      </p>
    </div>
  </div>
</section>

<div data-overlay-id="cc" class="overlay hidden">
  <div class="modal">
    <div class="modal-content">
      <h2>Closeness Centrality</h2>
      <p>Closeness centrality measures how close a node is to all other nodes in the graph.
        It is based on the <em>average shortest path distance</em> from a given node to all other nodes that can be
        reached.
        A node with high closeness centrality reaches other nodes more quickly, which can indicate a high degree of
        accessibility within the graph.</p>
      <p>For a node \( u \), the closeness centrality \( C(u) \) is calculated as:</p>
      <p>
        $$ C(u) = \frac{N - 1}{\sum_{v \neq u} d(u, v)} $$
      </p>
      <p>Where:</p>
      <ul style="text-align: left">
        <li>\( N \) is the total number of nodes in the graph.</li>
        <li>\( d(u, v) \) is the shortest path distance between nodes \( u \) and \( v \).</li>
      </ul>
      <p>
        In summary, if a node has high closeness centrality, it means that the node is "closer" to other nodes on
        average.
        A lower closeness centrality means the node is, on average, farther from other nodes in the graph in terms of
        path length.
      </p>
    </div>
  </div>
</div>

<div data-overlay-id="dc" class="overlay hidden">
  <div class="modal">
    <div class="modal-content">
      <h2>Degree Centrality</h2>
      <p>
        Degree centrality is another measure of how well connected a node is.
        On a graph <i>G</i>, NetworkX calculates the degree centrality as:
      </p>
      <div class="formula">
        <p>
          $$ C(u) = \frac{\text{deg}(u)}{N - 1} $$
        </p>
      </div>
      <p>Where:</p>
      <ul style="text-align: left">
        <li>\( \text{deg}(u) \) is the degree (number of edges) of node \( u \).</li>
        <li>\( N \) is the total number of nodes in the graph.</li>
      </ul>
    </div>
  </div>
</div>

<script src="assets/js/overlay.js"></script>