<!-- Section 1: Spotlight Section -->
<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in" id="first">
    <div class="content">
        <h2>Pepito's new hope: Cognitive Shift</h2>
        <p>Despite being taken aback by the strong evidence presented by the Professor, Pepito will not be deterred so easily. 
            He decides to try a new metric, <strong>cognitive shift</strong>.
        </p>
        <ul class="actions stacked">
        </ul>
    </div>
    <div class="image">
        <img src="images/spotlight01.jpg" alt="Image related to entropy">
    </div>
</section>

<section class="wrapper style1 align-center">
    <div class="inner">
        <div class="content">
            <p>
                <span class="image left"><img src="images/pepito.jpg" style="width: 100px; height: auto"/></span>
                When alternative, task-unrelated stimuli are presented to a human, mental fatigue and attention are negatively impacted <a href="https://pubmed.ncbi.nlm.nih.gov/26752733/" target="_blank">(Ref)</a>. 
                I believe that moving from one category of knowledge to another (e.g., from science-related articles to arts-related articles) requires cognitive shifting, which can negatively impact gameplay.
                I will look at the category changes along a path. For example if the player is on an article which is classified "Science" and goes to an article which is classified "History", this represents a category change.
                For each path I will quantify how many shifts there are and use it as a metric.
                I will only select paths of length more than 3, as shorter paths do not have enough shifts for the mental fatigue to be of any significance.
            </p>
        </div>
    
        <img src="images/category_change_count.png" style="width: 800px; height: auto; display: block; margin: 20px auto;">
    
        <p>
            <i>Maravilloso!</i>, the category shift per link <strong>is higher in unfinished paths</strong> which shows that a higher shift correlates with increased cognitive load and thus greater difficulty.
        </p>

        <div class="content">
            <p>
                <span class="image left"><img src="images/cajal_face.png" style="width: 100px; height: auto"/></span>
                Indeed that seems to be the case. 
                However are you sure that changes in category is the best metric for cognitive shift? 
                Articles who have the same category could be completely unrelated, take for example Alexander the Great and Einstein. 
                These two articles have category "People" but have very little connection. 
                Now take Einstein and Physics, these articles have category "People" and "Physics" respectively, but are very closer related.
            </p>
        </div>
        
        <br>

        <div class="content">
            <p>
                <span class="image left"><img src="images/pepito.jpg" style="width: 100px; height: auto"/></span>
                Another good metric that I can try is semantic shift, i.e. one minus the semantic similarity between two successive articles.
                Large semantic shifts between articles can represent a higher cognitive load for the player, having to completely change topics from one article to the other. 
                I can investigate if this has an impact on whether the path is finished or not.
            </p>
        </div>

        <div style="margin-bottom: 20px; margin-top: 20px; text-align: center;">
            <button data-overlay-id="semantic-similarity" class="button big wide smooth-scroll-middle">About Semantic Similarity</button>
        </div>

        <p>
            Firstly, I will show how the semantic shift evolves over the game, specifically by examining the number of articles visited from the beginning.
        </p>
        
        <img src="images/semantic_shift.png" style="width: 800px; height: auto; display: block; margin: 20px auto;">

        <p>
            As can be seen, <strong>semantic shift decreases at the end of finished paths compared to unfinished paths, which tend to stagnate</strong> .
            This indicates that, in unfinished paths, the gap in similarity between consecutive articles remains constant, suggesting that the player is "lost"—continuing to change semantic fields without converging on the correct target. 
            This pattern supports my thesis that higher cognitive shifts are indeed associated with a greater likelihood of path abandonment.
        </p>

        <img src="images/semantic_shift_hist.png" style="width: 800px; height: auto; display: block; margin: 20px auto;">

        <p>
            We can observe that the <strong>semantic shift along finished paths is smaller than for unfinished paths</strong> indicating that finished paths tend to follow more closely related articles than unfinished ones. 
            This supports the idea that jumping between articles with high differences in similarity can lead to unfinished paths, thus supporting my thesis.
        </p>

        <div class="content">
            <p>
                <span class="image left"><img src="images/cajal_face.png" style="width: 100px; height: auto"/></span>
                <strong>Although statistically significant, the shift is unfortunately minor</strong>, to the extent that it may not represent a practical or relevant change to strongly support your point. 
                Have you also considered the fact that this slight difference in semantic shift is probably due to the <strong>nature of finished paths</strong>, the last few articles being semantically close as the player is refining his search towards the target.
            </p>
        </div>
    
    </div>
</section>


<!-- Overlay -->

<div data-overlay-id="semantic-similarity" class="overlay hidden">
    <div class="modal">
        <div class="modal-content">
            <div style="overflow-y: scroll; height: 500px;">
                
                <h1> Semantic Similarity </h1>

                <p>
                    Before proceeding with Pepito's findings, let's start with a brief explanation and example of what semantic similarity is.
                </p>
        
                <p>
                    <strong>Semantic similarity</strong> refers to the degree to which two concepts, words, or phrases are related in meaning, even if they are not identical. 
                    In essence, it allows us to evaluate how closely words or sentences are associated based on their meanings rather than exact matches.
                </p>
        
                <p>
                    To quantify this value, Pepito is going to use <strong>SentenceTransformer</strong> a model that specializes in measuring semantic similarity by transforming sentences or words into high-dimensional vectors, which then allows for easy comparison of their meanings.
                </p>
        
                <img src="images/semantic_similarity_example.png" style="width: 500px; height: auto">
        
                <p>
                    To ensure he understands how this metric works, Pepito is testing the model on a subset of words. 
                    The results are generally intuitive: for example, "William Shakespeare" is semantically close to terms like "playwright" and "Romeo and Juliet" but has no relationship to "data analysis." 
                    However, the model isn't perfect; it struggles with more nuanced relationships, such as between "Romeo and Juliet" and "love," which one might expect to be closely related but are not always picked up as such by the model.
                </p>
            </div>
        </div>
    </div>
</div>