<!-- Section 1: Spotlight Section -->
<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in"
    id="first">
    <div class="content">

        <h2>Pepito's Brainstorm: HTML Structure</h2>

        <p>
            After a long conversation with Dr. Cajal, Pepito begins to fear his defeat.
            Fortunately, <b>Cajal has to leave for two hours</b> to attend a conference, leaving Pepito on his own.
        </p>
        <p>
            <b>"This is fantastic"</b>, thinks Pepito. He realizes he can use this time to come up with new ideas to
            propose. During this time, he identifies two brilliant potential investigations:
            <strong>the role of structural elements in the webpage HTML</strong> and the <strong>position of links
                within the HTML page</strong>.
        </p>
        <p>
            Let's follow his mental process and observe <b>if he can uncover something meaningful to present to Dr.
                Cajal.</b>
        </p>

    </div>
    <div class="image">
        <img src="images/spotlight01.jpg" alt="Image related to entropy">
    </div>
</section>

<!-- Section 2: Structural elements catch human Attention -->
<section class="wrapper style1 align-center">
    <div class="inner">

        <h3>Structural Elements Catch Human Attention</h3>

        <span class="image left"><img src="images/pepito.jpg"></span>
        <p>
            It’s well-established that human <b>attention is drawn to colors and images</b><a
                href="https://jov.arvojournals.org/article.aspx?articleid=2193355" target="_blank">(Ref)</a>.
            I believe that during the game, players are <b>biased toward clicking links near images or other elements
                besides plain text</b>.
            As a result, they may end up selecting links that don’t necessarily move them closer to their goal, leading
            them off course.
        </p>


        <div style="margin-bottom: 20px; margin-top: 20px; text-align: center;">
            <button data-overlay-id="structural-elements" class="button big wide smooth-scroll-middle">HTML Structural
                Elements</button>
        </div>

        <p>
            In the image on the left, I have plotted how frequently a clicked link was found inside a specific
            structural element. When a clicked link appears in multiple positions on a page and it is unclear which one
            the user clicked, I <b>assume that users have no bias and that the probability of clicking each position is
                equal</b>. The number of clicks is then calculated using the <b>mathematical expectation</b>.
            <b>After normalizing</b> by the total number of links in each category, it becomes evident that people
            <b>tend to click on infoboxes</b>
            (which almost always include an image).
            This strongly supports my argument that visually prominent elements attract more player attention and
            clicks.
        </p>
        <p>
            Naturally, to validate my hypothesis, I need to show that there is a difference in the distribution between
            finished and unfinished paths.
            If visually prominent elements truly distract players from the target, <b>I should see more of these
                elements being clicked in unfinished paths</b>. <br>
            And... ohhh, if we look at the plot on the right, it seems that this <b>is indeed the case!</b>
        </p>

        <div class="row">
            <div class="col-6">
                <img src="images/position_distribution_of_target_links.png" alt="distribution of target links"
                    style="width: 90%;" />
            </div>
            <div class="col-6">
                <img src="images/parent_categories_distribution.png" alt="distribution of parent categories"
                    style="width: 90%;" />
            </div>
        </div>


        <p>
            Naturally, as Dr. Cajal taught me, <strong>visual appearance alone is not sufficient</strong>; I must
            perform a statistical test.
            I chose to use the <strong>two-sample Kolmogorov-Smirnov (KS) test</strong> to determine if there is a
            significant difference in the distribution of clicks across finished and unfinished paths.
            Unfortunately, the test </strong>results are negative (p-value > 0.05)</strong>. Therefore, even though I
            may be clicking on an infobox,
            <strong>I have the same likelihood of completing or not my path</strong>. <br>
            <strong style="font-size: 24px;">I must hide this result from Dr. Cajal!!!</strong>
        </p>

        <div style="margin-bottom: 20px; margin-top: 20px; text-align: center;">
            <button data-overlay-id="ks" class="button big wide smooth-scroll-middle">About KS-Test</button>

            <!-- some space -->
            <p> </p>

            <h3>Link Position & Human Laziness</h3>

            <p>
                Humans are inherently lazy and have <b>evolved to minimize the energy spent on tasks</b>.
                I believe this behavior applies to the Wikispeedia game as well.
                I hypothesize that players are <b>more likely to click on links that appear at the top of the page</b>,
                as scrolling down and searching for information on a new page requires more time and effort. The
                following figure illustrates the distribution of link positions.
            </p>

            <div style="margin-bottom: 20px; margin-top: 20px; text-align: center;">
                <button data-overlay-id="link_position" class="button big wide smooth-scroll-middle">Link
                    Position</button>
            </div>

            <div class="row">
                <img src="images/position_frequency_clicked_articles.png" alt="frequency of clicked articles"
                    style="width: 100%;" />
            </div>
            <p>
                Based on this figure and the results of the KS-Test hypothesis test, I believe my assumption is correct.
                Therefore, I can propose a new hypothesis: unfinished paths have the positions of clicks more skewed
                toward the start of the page.
            </p>

            <div class="row">
                <img src="images/position_finished_unfinished_links_distribution.png"
                    alt="frequency of finished and unfinished clicked articles" style="width: 100%;" />
            </div>
            <p>
                Unfortunately, once again, the <b>KS-Test resulted in non-significant output</b>. <br> The distribution of clicked target links in finished and unfinished records is nearly identical.
                <b>I have nothing to present to Dr. Cajal...</b>
            </p>

        </div>

</section>



<!-- OVERLAYS -->

<div data-overlay-id="structural-elements" class="overlay hidden">
    <div class="modal">
        <div class="modal-content">
            <div style="overflow-y: auto; height: 80vh;">
                <div class="content row">
                    <p>Before proceeding, we present images illustrating the various HTML elements that may appear on a
                        Wikipedia page. These elements play distinct roles in structuring content and can potentially
                        influence
                        player navigation choices:</p>
                </div>
                <!-- TODO: Links not found -->
                <button data-overlay-id="description-elements"
                    style="background-image:url('images/description_elements.png'); background-size: 100%; width: 100%; height: 34%; margin: 5px;">
                </button>
                <button data-overlay-id="description-footer"
                    style="background-image:url('images/description_footer.png'); background-size: 100%; width: 100%; height: 34%; margin: 5px;">
                </button>


                <div class="content row content-align-center" style="text-align: left; margin-top: 20px;">
                    <ul>
                        <li><b>Heading</b>: Titles and subtitles that organize sections.</li>
                        <li><b>Paragraph</b>: Main blocks of text containing information.</li>
                        <li><b>Table</b>: Structured data or summaries, often used for comparative or statistical
                            information.
                        </li>
                        <li><b>List</b>: Bulleted or numbered items, grouping related points or examples.</li>
                        <li><b>Infobox</b>: Highlighted summary boxes, typically on the side, summarizing key
                            information
                            about
                            the topic.</li>
                        <li><b>Footer</b>: Content at the bottom, often with references or links to related articles.
                        </li>
                        <li><b>Undefined</b>: Elements that don’t fit into the standard categories listed above.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-overlay-id="description-elements" class="overlay hidden">
    <div class="modal"
        style="background-image: url('images/description_elements.png'); background-size: 100%; height: 50vw; max-width: 80vw; width: 80vw;">
        <div class="modal-content">
        </div>
    </div>
</div>
<div data-overlay-id="description-footer" class="overlay hidden">
    <div class="modal"
        style="background-image: url('images/description_footer.png'); background-size: 100%; height: 50vw; max-width: 80vw; width: 80vw;">
        <div class="modal-content">
        </div>
    </div>
</div>


<div data-overlay-id="link_position" class="overlay hidden">
    <div class="modal">
        <div class="modal-content">
            <div>


                <h2>How Link Position is Quantified?</h2>

                <p>
                    Since <b>monitor resolution cannot be inferred from our dataset</b>, we cannot assume it is the same
                    for every player.
                    Therefore, we are unable to determine the exact visual position of a link on a webpage a priori.
                </p>
                <p>
                    However, we decided to use the <b>order of link appearance on the page as a metric for position</b>.
                </p>
                <p>
                    Similarly, we assume that users exhibit no bias in their selection of links, and all links on a page
                    have an equal probability of being clicked. If users have no bias toward link positions, the distribution of clicked links should resemble
                    the distribution of all links on the page.
                </p>

                <p>
                    For instance, when analyzing the distribution of all link positions on a page, if there is only one
                    link, we assign a weight of 1 to the link at position 1. If there are ten links, we assign equal
                    weights of 0.1 to links in positions 1 through 10.
                </p>
                <p>
                    For a target link clicked by a user, if it appears in multiple positions on the page (e.g.,
                    positions 1
                    and 30), we consider the user to have clicked the link 0.5 times at position 1 and 0.5 times at
                    position
                    30.</p>


            </div>
        </div>
    </div>
</div>


<div data-overlay-id="ks" class="overlay hidden">
    <div class="modal">
        <div class="modal-content">
            <p>
                The Kolmogorov Smirnov test (KS-Test) is used to compare two distributions to determine if
                they are pulling from the same underlying distribution.
            </p>
            <p>Unlike other metrics that allow you to compare distributions such as JS divergence, PSI and KL divergence
                that come from mathematician Claude Shannon’s information theory, the KS-Test derives from statistics.
                <strong>It’s non-parametric, meaning it works across all types of distributions.</strong> Thus, it is
                not limited to use
                on well-known distributions such as normal or binomial – your data can take on any form, and the KS-Test
                still works.
            </p>

            <p>References: <a href="https://arize.com/blog-course/kolmogorov-smirnov-test/">Kolmogorov Smirnov Test for
                    AI: When and Where To Use It</a></p>
        </div>
    </div>
</div>