<!-- Section 1: Spotlight Section -->
<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in"
    id="first">
    <div class="content">
        <h2>Pepito's last chance: Structural Information</h2>
        <p>The next day, Pepito arrives in class eager to present his latest findings to the teacher. Below is a brief
            summary of their conversation.
        </p>
        <ul class="actions stacked">
        </ul>
    </div>
    <div class="image">
        <img src="images/spotlight01.jpg" alt="Image related to entropy">
    </div>
</section>

<section class="wrapper style1 align-center">
    <div class="inner">
        <h3><b>Structural elements catch human Attention</b></h3>
        <div class="row">
            <div class="content box">
                <span class="image left"><img src="images/pepito.jpg" /></span>
                <p>
                    It’s well-established that human attention is drawn to colors and images. I believe that during
                    the
                    game, players are biased toward clicking links near images or other elements besides plain text.
                    As
                    a
                    result, they may end up selecting links that don’t necessarily move them closer to their goal,
                    but
                    instead are simply more visually engaging, leading them off course.
                </p>
            </div>
        </div>

        <div class="content row">
            <p>Before proceeding, we present images illustrating the various HTML elements that may appear on a
                Wikipedia page. These elements play distinct roles in structuring content and can potentially influence
                player navigation choices:</p>
        </div>
        <!-- TODO: Links not found -->
        <div style="align-items: center; float: left;">
            <img src="images/description_elements.png" alt="structure elements"
                style="width: 45%; height: auto; margin: 5px;" />
            <img src="images/description_footer.png" alt="footer" style="width: 45%; height: auto; margin: 5px;" />
        </div>

        <div class="content-align-center" style="text-align: left;">
            <ul>
                <li><b>Heading</b>: Titles and subtitles that organize sections.</li>
                <li><b>Paragraph</b>: Main blocks of text containing information.</li>
                <li><b>Table</b>: Structured data or summaries, often used for comparative or statistical information.
                </li>
                <li><b>List</b>: Bulleted or numbered items, grouping related points or examples.</li>
                <li><b>Infobox</b>: Highlighted summary boxes, typically on the side, summarizing key information about
                    the topic.</li>
                <li><b>Footer</b>: Content at the bottom, often with references or links to related articles.</li>
                <li><b>Undefined</b>: Elements that don’t fit into the standard categories listed above.</li>
            </ul>
        </div>

        <img src="images/position_distribution_of_target_links.png" alt="distribution of target links"
            style="width: 500px; height: auto; display: block; margin: 20px auto;" />


        <div class="content">
            <p>
                <span class="image left"><img src="images/pepito.jpg" alt="Image of Pepito" /></span>
                As shown, <b>after normalizing</b> the count of links clicked within each HTML category, it becomes
                clear that players are biased toward the infobox (which almost always includes an image). This strongly
                supports my argument that visually prominent elements attract more player attention and clicks.
            </p>
        </div>


        <div class="content">
            <p>
                <span class="image right"><img src="images/cajal_face.png" alt="Image of Dr. Cajal"></span>
                Yes, people are clicking more frequently on infoboxes, even after accounting for the frequency of each
                element. However, your claim is incorrect. When we compare the frequencies of finished and unfinished
                paths, we observe that there is no statistically significant difference between the two groups (as
                confirmed by a *two-sample Kolmogorov-Smirnov test for goodness of fit*). This means that, whether on
                finished or unfinished paths, players tend to click more on infoboxes. Therefore, even if I am clicking
                on an infobox, <b>I have the same likelihood of completing my path</b>.
            </p>
        </div>

        <img src="images/parent_categories_distribution.png" alt="distribution of parent categories"
            style="width: 600px; height: auto; display: block; margin: 20px auto;" />

        <div style="text-align: left;">
            <ul>
                <li><b>Null Hypothesis</b>: People's choices regarding the structure where target links are located have
                    no impact on whether they can successfully complete the game.</li>
                <li><b>Alternative Hypothesis</b>: People's choice of the structure containing the target link can
                    influence their success in completing the game.</li>
                <li><b>P-value</b> is greater than 0.05</li>
                <li><b>Conclusion</b>: People's choices regarding the structure where target links are located have no
                    impact on whether they can successfully complete the game.</li>
            </ul>
        </div>

        <h3><b>Link Position & Human Laziness</b></h3>

        <div class="content">
            <p>
                <span class="image left"><img src="images/pepito.jpg" alt="Image of Pepito" /></span>
                Humans are inherently lazy and have evolved to minimize the energy spent on tasks. I believe this
                behavior applies to the Wikipedia game as well. I hypothesize that players are more likely to click on
                links that appear at the top of the page, as scrolling down and searching for information on a new page
                requires more time and effort. Based on this assumption, I think players are more likely to abandon
                optimal links (which may be positioned lower on the page) in favor of easily accessible but less useful
                links at the top.
            </p>
        </div>

        <div>
            <p>
                Before proceeding, it is important to explain how the position of a link on a page was defined in
                Pepito's analysis. Since <b>monitor resolution cannot be inferred from our dataset</b>, we cannot assume
                it
                is the same for every player. Therefore, we are unable to determine the exact position of a link on a
                webpage a priori.
            </p>
            <p>However, we decided to use the order of link appearance on the page as a metric for position. In cases
                where a link appears more than once on the same page, the expected value for the position was used.
            </p>
        </div>

        <img src="images/position_frequency_clicked_articles.png" alt="frequency of clicked articles"
            style="width: 1000px; height: auto; display: block; margin: 20px auto;" />

        <div style="text-align: left;">
            <ul>
                <li><b>Null Hypothesis</b>: The distributions of cumulative number of navigation links and positions are
                    the same.</li>
                <li><b>Alternative Hypothesis</b>: The distributions of cumulative number of navigation links and
                    positions are not the same.</li>
                <li><b>P-value</b> is less than 0.05</li>
                <li><b>Conclusion</b>: The distributions are significantly different.</li>
            </ul>
        </div>

        <div class="content">
            <p>
                <span class="image left"><img src="images/pepito.jpg" alt="Image of Pepito" /></span>
                As confirmed by the statistical test, the distribution of clicked links differs from the overall
                distribution of all links on the webpages. This indicates that people tend to click on links that appear
                earlier in the article.
            </p>
        </div>

        <img src="images/position_finished_unfinished_links_distribution.png"
            alt="distribution of finished and unfinished links"
            style="width: 1000px; height: auto; display: block; margin: 20px auto;" />

        <div style="text-align: left;">
            <ul>
                <li><b>Null Hypothesis</b>: Players who successfully completed the game and those who did not show the
                    same preference in the order of link selection.</li>
                <li><b>Alternative Hypothesis</b>: Players who successfully completed the game and those who did not
                    show different preferences in the order of link selection.</li>
                <li><b>P-value</b> is less than 0.05</li>
                <li><b>Conclusion</b>: Players who successfully completed the game and those who did not show different
                    preferences in the order of link selection.</li>
            </ul>
        </div>

        <div class="content">
            <p>
                <span class="image left"><img src="images/pepito.jpg" alt="Image of Pepito" /></span>
                As confirmed by the statistical test, the distribution of clicked links differs from the overall
                distribution of all links on the webpages. This indicates that people tend to click on links that appear
                earlier in the article.
            </p>
        </div>
        <div class="content">
            <p>
                <span class="image right"><img src="images/cajal_face.png" alt="Image of Dr. Cajal"></span>
                <img src="../data/assets/pik_speachless.jpeg" alt="Dr. Santiago Ramón y Cajal" width="200" />
            </p>
        </div>
    </div>

</section>