<!-- Section 1: Spotlight Section -->
<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
    <div class="content">
        <h2>Dr. Cajal's Counterargument: Entropy</h2>
        
        <div class="image">
            <img src="images/spotlight01.jpg" alt="Image related to entropy">
        </div>
    </div>
</section>
    
<!-- Section 2: Content and Button to Trigger Overlay -->
<section class="wrapper style1 align-center">
    <div class="inner">
        <div class="content">

            hello

        </div>
    </div>
</section>