<section class="spotlight style1 orient-rigth content-align-left image-position-center onscroll-image-fade-in" id="first">
    <div class="content">
        <h2>Pepito vs. Data: A Battle He Didn’t Win</h2>

        After testing many different approaches to validate cognitive overload and various cognitive biases, 
        <strong>Pepito was unable to defend his point. </strong> Namely:

        <b>
        <dl>
            <li>Path Length and Duration</li>
            <li>Readability Metrics</li>
            <li>Shannon Entropy</li>
            <li>Graph Connectivity</li>
            <li>Cognitive Shifts</li>
            <li>Webpage Structural Elements</li>
            <li>Sentiment Analysis</li>
        </dl>
        </b>
        were unable to prove its point.
        It seems the poor results he achieved were <b>simply due to a lack of knowledge</b>, nothing more.
        
        <p></p>
        
        Pepito’s arguments were thoroughly dismantled by Dr. Cajals, 
        who employed <b>impeccable data analysis techniques.</b>
        Rather than dismissing Pepito outright, Dr. Cajals patiently listened to 
        his perspective and took the time to <b>teach him the principles</b> of conducting a robust and meticulous analysis.

    </div>
    <div class="image">
        <img src="images/concl.png" alt="Image related to entropy">
    </div>
</section>