#python==3.11
beautifulsoup4==4.12.3
chardet==5.2.0
matplotlib==3.9.2
networkx==3.4.2
numpy==2.1.3
pandas==2.2.3
pySankey==0.0.1
scipy==1.14.1
seaborn==0.13.2
sentence_transformers==3.3.0
textstat==0.7.4
tqdm==4.67.0
